Hey <?php echo $this->name; ?>,
thanks for signing up at ptpbc.com!

What next?
1. Visit your profile for more details: <a href="https://ptpbc.com/user/profile">link</a>
2. Check our guide "How to earn Bitcoins": <a href="https://ptpbc.com/faq/how-to-generate-bitcoins">link</a>
3. Play games: <a href="https://ptpbc.com/games/">link</a>
4. For questions and/or problems: <a href="https://ptpbc.com/contact">link</a>
5. Email settings: <a href="https://ptpbc.com/user/profile/emails">link</a>
6. Enjoy your time with us :)

Thanks,
The ptpbc team